[global_config]
  sticky = True
  always_split_with_profile = True
[keybindings]
  split_vert = <Primary><Shift>a
  close_term = <Primary><Shift>w
  close_window = <Primary><Shift>q
  next_profile = <Shift><Alt>u
  previous_profile = <Shift><Alt>l
[profiles]
  [[default]]
    background_color = "#f6f5f4"
    background_darkness = 0.95
    background_type = transparent
    font = MesloLGS NF 15
    foreground_color = "#657b83"
    scrollback_lines = 60000
    use_system_font = False
  [[defaultblack]]
    background_color = "#282828"
    background_darkness = 0.95
    background_type = transparent
    font = MesloLGS NF 15
    foreground_color = "#ebdbb2"
    scrollback_lines = 60000
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
[plugins]
